* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: monument, sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 0 40px;
    align-items: center;
    justify-content: space-between;
}

.nav h1 {
    font-size: 31px;
    font-weight: 100;
}

.nav .part2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .part2 a {
    text-decoration: none;
    color: #222;
    margin: 20px;
}

.nav .part2 a:hover {
    border-bottom: 3px solid springgreen;
}

.nav .part2 a:nth-last-child(1) {
    position: relative;
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;
}

.nav .part2 a:nth-last-child(1) .green {
    width: 100%;
    height: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.4s ease;
}

.nav .part2 a:nth-last-child(1) h5 {
    font-weight: 100;
    position: relative;
    z-index: 99;
}

.nav .part2 a:nth-last-child(1):hover .green {
    left: 0;
}

.main h2 {
    font-size: 5.4vw;
    width: 60%;
    text-align: center;
    position: relative;
    font-weight: 100;
    text-transform: capitalize;
    z-index: 99;
}

.main h2::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom: -5%;
    left: 50%;
    background-size: cover;
    transform: translate(-50%, 0);

}

.main .img1 {
    width: 200px;
    height: 190px;
    position: absolute;
    top: 15%;
    right: 15%;
}

.main .img2 {
    width: 250px;
    height: 460px;
    position: absolute;
    bottom: 10%;
    left: 5%;

}

.main .img3 {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.main img {
    transition: margin 0.5s ease;
}

.main img:hover {
    margin-top: -10px;
}

.main2 {
    height: 70vh;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.main2 h5::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 11%;
    left: 28%;
    background-color: springgreen;


}

.main2 h5 {
    font-size: 19px;
    font-family: gilroy, sans-serif;
    font-weight: 100;
}


.main2 h1 {
    font-size: 49px;
    width: 75%;
    margin: 26px 0;
    text-align: center;
    font-family: cursive;
    font-weight: 100;
}

.about {
    display: flex;
    align-items: center;

}

.about h4 {
    font-size: 28px;
    font-family: gilroy, sans-serif;
    font-weight: 500;
}