* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #dadada;
}

.center {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 70%;
    height: 80%;
}

.imagecontainer {
    position: absolute;
    overflow: hidden;
    width: 0%;
    height: 100%;
}

img {
    height: 100%;
    object-fit: cover;
}

#one {
    width: 0%;
}

.text {
    position: absolute;
    bottom: 15%;
    left: -10%;
    overflow: hidden;
    width: 400px;
    height: 96px;
    z-index: 999;
}

.text h1 {
    top: 100px;
    position: absolute;
    font-size: 6vw;
    color: white;
}